body {
	font-family: Verdana;
	font-size: 12px;
	color: #444;
}

a {color:#48577D; text-decoration: none}

a:hover {text-decoration: underline;}

h1, h2 {margin-bottom: 15px}

h1 {font-size: 18px}
h2 {font-size: 16px}

#container {

	width: 800px;
	margin: 150px auto;
	background-color: #eee;
	padding: 15px;
	overflow: hidden;
}

#container2 {
        width: 300px;
        clear: both;
    }
    #container2 input[type=text] {
        width: 100%;
        clear: both;
    }

#main {
	width: 590px;
	float: left;
}

	#main table {
		width: 580px;
	}

		#main table th {
			padding: 10px;
			background-color: #48577D;
			color: #fff;
			text-align:  left;
		}

#sidebar {
	width: 200px;
	float: left;
}